<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_erp_root"
              name="Production Proj"
              web_icon="om_production,static/description/production.png"
              sequence="0"/>
    <menuitem id="menu_basic_data"
              name="Basic Data"
              parent="menu_erp_root"
              sequence="0"/>
    <menuitem id="menu_master_data"
              name="Master Data"
              parent="menu_erp_root"
              sequence="1"/>
    <menuitem id="menu_follow_customer"
              name="Follow Customer"
              parent="menu_erp_root"
              sequence="2"/>
    <menuitem id="menu_order_management"
              name="Order Management"
              parent="menu_erp_root"
              sequence="3"/>
    <menuitem id="menu_sample_product"
              name="Sample Product"
              parent="menu_erp_root"
              sequence="4"/>
    <menuitem id="menu_shop_floor"
              name="ShopFloor"
              parent="menu_erp_root"
              sequence="5"/>
    <menuitem id="menu_distribution"
              name="Distribution"
              parent="menu_erp_root"
              sequence="6"/>
    <menuitem id="menu_soldering"
              name="Soldering"
              parent="menu_erp_root"
              sequence="7"/>
    <menuitem id="menu_pricing"
              name="Pricing"
              parent="menu_erp_root"
              sequence="8"/>
    <menuitem id="menu_invoice"
              name="Invoice"
              parent="menu_erp_root"
              sequence="9"/>
    <menuitem id="menu_cancel_bag"
              name="Cancel Bag"
              parent="menu_erp_root"
              sequence="10"/>
    <menuitem id="menu_journal"
              name="Journal"
              parent="menu_erp_root"
              sequence="11"/>
    <menuitem id="menu_update_weight"
              name="Update Weight"
              parent="menu_erp_root"
              sequence="12"/>
    <menuitem id="menu_view_logs"
              name="View Logs"
              parent="menu_erp_root"
              sequence="13"/>
    <menuitem id="menu_stock"
              name="Stock"
              parent="menu_erp_root"
              sequence="14"/>
    <menuitem id="menu_report"
              name="Report"
              parent="menu_erp_root"
              sequence="15"/>
    <menuitem id="menu_report_of_stock"
              name="Report Of Stock"
              parent="menu_erp_root"
              sequence="16"/>
    <menuitem id="menu_report_summary"
              name="Report Summary"
              parent="menu_erp_root"
              sequence="17"/>
    <menuitem id="menu_monthly_stock"
              name="Monthly Stock"
              parent="menu_erp_root"
              sequence="18"/>
    <menuitem id="menu_report_bi"
              name="Report BI"
              parent="menu_erp_root"
              sequence="19"/>
    <menuitem id="menu_report_of_factory"
              name="Report Of Factory"
              parent="menu_erp_root"
              sequence="20"/>
    <menuitem id="menu_metal_stock"
              name="Metal Stock"
              parent="menu_erp_root"
              sequence="21"/>
    <menuitem id="menu_customer_order"
              name="Customer Order"
              parent="menu_erp_root"
              sequence="22"/>
    <menuitem id="menu_casting_order"
              name="Casting Order"
              parent="menu_erp_root"
              sequence="23"/>
    <menuitem id="menu_alloys_order"
              name="Alloys Order"
              parent="menu_erp_root"
              sequence="24"/>
    <menuitem id="menu_mf_order"
              name="MF Order"
              parent="menu_erp_root"
              sequence="25"/>
    <menuitem id="menu_label_ib"
              name="Label IB"
              parent="menu_erp_root"
              sequence="26"/>
    <menuitem id="menu_refining"
              name="Refining"
              parent="menu_erp_root"
              sequence="27"/>
    <menuitem id="menu_efficiency"
              name="Efficiency"
              parent="menu_erp_root"
              sequence="28"/>
    <menuitem id="menu_catalogue"
              name="Catalogue"
              parent="menu_erp_root"
              sequence="29"/>
    <menuitem id="menu_mold"
              name="Mold"
              parent="menu_erp_root"
              sequence="30"/>
    <menuitem id="menu_tools_and_consumable"
              name="Tools And Consumable"
              parent="menu_erp_root"
              sequence="31"/>
    <menuitem id="menu_tc_report"
              name="TC Report"
              parent="menu_erp_root"
              sequence="32"/>
    <menuitem id="menu_debt"
              name="Debt"
              parent="menu_erp_root"
              sequence="33"/>
    <menuitem id="menu_hr_employee"
              name="HR Employee"
              parent="menu_erp_root"
              sequence="34"/>
    <menuitem id="menu_inventory_bag"
              name="Inventory Bag"
              parent="menu_erp_root"
              sequence="35"/>
    <menuitem id="menu_projects"
              name="Projects"
              parent="menu_erp_root"
              sequence="36"/>
    <menuitem id="menu_broken_stone"
              name="Broken Stone"
              parent="menu_erp_root"
              sequence="37"/>
    <menuitem id="menu_user_accession"
              name="User Accession"
              parent="menu_erp_root"
              sequence="38"/>
    <menuitem id="menu_test"
              name="Test"
              parent="menu_erp_root"
              sequence="39"/>
    <menuitem id="menu_help"
              name="Help"
              parent="menu_erp_root"
              sequence="40"/>
</odoo>